[Unit]
Description=MJPG Streamer
After=network.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/local/bin/mjpg_streamer -o "output_http.so -w ./www" -i "input_raspicam.so -x 320 -y 240 -fps 24 -vf -quality 8 -cfx 128:128"

[Install]
WantedBy=multi-user.target